* {
    padding: 0;
    margin: 0;
    font-family: 'Itim',cursive;
}

.background {
    background-color: #121818;
    height: 100vh;
    padding-top: 1px;
}

.title{
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 1%;
}

.display {
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container{
    margin: 0 auto;
    display: grid;
    max-width: 300px;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
}

.tile{
    border: 1px solid white;
    display: flex;
    min-height: 100px;
    min-width: 100px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: #09C372;
}

.playerO {
    color: #498AFB;
}

.controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

#reset{
    background-color: #ff3860;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}